
.App {
  justify-content: left;
  font-size: large;
  margin: 70px;
}

.flexouter {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: left;
}

.flexcart {
  position: fixed;
  overflow-y: scroll;
  height: fit-content;
  background-color: rgb(126, 182, 70);
  border-radius: 15px;
  display: flex;
  margin-left: 66vw;
  flex-wrap: wrap;
  width: 20.5vw;
  flex-direction: column;
  color:white;
  padding: 40px;
  font-size: 16px;
  max-height: 60%;
}

.PlantItem {
    margin-bottom: 0px;
    margin-top:30px;
    margin-left: 30px;
    background-color: rgb(211, 255, 154);
    border-radius: 10px;
    font-size: 17px;
    text-align: center;
    padding: 20px;
    border-radius: 15px;
    width: 27vw;
    height: 45vh;
}

img {
  width: 20vw;
  height: 15vw;
  margin: 20px;
  border-radius: 10px;
}

.flex1 {
  display: flex;
  flex-wrap: wrap;
  width: 70vw;
  flex-direction: row;
  margin-right: 0px;
}

#title {
  color: rgb(42, 92, 1);
  margin-top: 5vw;
  margin-left: 3.5vw;
  font-size: 50px;
  font-weight: bold;
  color: rgb(0, 37, 0);
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#txt {
  font-size: 30px;
  font-weight: bold;
  color: white;
  margin-bottom: 20px;
}

#txt2 {
  display: inline;
  font-size: 13px;
  padding: 7px;
  background-color: white;
  color:black;
  border-color: rgb(0, 37, 37);
  border-width: 3px;
  border-radius: 10px;
  width:fit-content;
  margin-top: 25px;
}

#txt3 {
  margin-top: 20px;
  font-size: 20px;
}
#txt4 {
  margin-bottom: 10px;
  font-size: 15px;
}

#sort {
  color: rgb(0, 60, 0);
  margin-left: 62vw;
  position: fixed;
  margin-top: 63vh;
  padding: 30px;
  font-size: 15px;
  font-weight: bold;
  display: flex;
  width: 27vw;
  justify-content: right;
  flex-wrap: wrap;
}
